.bamboo-colorizer-error > div {
	margin: 10px;
	padding: 10px;
	color: #000;
	border: solid 1px #b94a48;
	background-color: #f2dede;
}

.bamboo-colorizer-warning > div {
	margin: 10px;
	padding: 10px;
	color: #000;
	border: solid 1px #c09853 !important;
	background-color: #fcf8e3;
}